@font-face {
    font-family: "Pt Sans Bold";
    /* IE9 Compat Modes */
    src: url("../fonts/ptsans-bold.eot");
    /* IE6-IE8; Modern Browsers; Safari, Android, iOS; Legacy iOS */
    src: url("../fonts/ptsans-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ptsans-bold.woff") format("woff"),
        url("../fonts/ptsans-bold.ttf") format("truetype"),
        url("../fonts/ptsans-bold.svg#svgFontName") format("svg");
}

@font-face {
    font-family: "Pt Sans Regular";
    /* IE9 Compat Modes */
    src: url("../fonts/ptsans-regular.eot");
    /* IE6-IE8; Modern Browsers; Safari, Android, iOS; Legacy iOS */
    src: url("../fonts/ptsans-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ptsans-regular.woff") format("woff"),
        url("../fonts/ptsans-regular.ttf") format("truetype"),
        url("../fonts/ptsans-regular.svg#svgFontName") format("svg");
}

@font-face {
    font-family: "Arvo Regular";
    /* IE9 Compat Modes */
    src: url("../fonts/arvo-regular.eot");
    /* IE6-IE8; Modern Browsers; Safari, Android, iOS; Legacy iOS */
    src: url("../fonts/arvo-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/arvo-regular.woff") format("woff"),
        url("../fonts/arvo-regular.ttf") format("truetype"),
        url("../fonts/arvo-regular.svg#svgFontName") format("svg");
}

@font-face {
    font-family: "Arvo Green";
    /* IE9 Compat Modes */
    src: url("../fonts/arvo-green.eot");
    /* IE6-IE8; Modern Browsers */
    src: url("../fonts/arvo-green.eot?#iefix") format("embedded-opentype"),
        url("../fonts/arvo-green.woff") format("woff");
}

.green {
    color: #46962b;
}
.dark-green {
    color: #0a321e;
}
.yellow {
    color: #ffee00;
}
.dark-yellow {
    color: #ffd500;
}
.dark-blue {
    color: #4cb4e7;
}
.light-blue {
    color: #d4edfc;
}
.magenta {
    color: #e6007e;
}

body {
    font-family: "PT Sans Regular", "Trebuchet MS";
    font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-family: "Arvo Regular", "Trebuchet MS";
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

b,
strong {
    font-family: "PT Sans Bold", "Trebuchet MS";
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-family: "Arvo Green";
    font-size: 2.5rem;
    text-transform: none;
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
        font-size: 4rem;
    }
}

#mainNav {
    font-family: "PT Sans Regular";
}

#mainNav .navbar-nav > li.nav-item > a {
    font-size: 0.875rem;
}

@media only screen and (min-width: 992px) {
    #mainNav.is-fixed {
        top: -69px;
    }

    #mainNav.is-fixed .navbar-brand:focus,
    #mainNav.is-fixed .navbar-brand:hover {
        color: #e6007e;
    }

    #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus,
    #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
        color: #e6007e;
    }
}

.banner {
    background-color: #46962b;
}

.banner h1 {
    font-family: "Arvo Green";
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.btn {
    font-family: "PT Sans Regular";
    font-style: italic;
    font-weight: 900;
    font-size: 17px;
}

.btn-primary {
    color: white;
    background-color: #46962b;
    border-color: #46962b;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #346e20 !important;
    border-color: #346e20 !important;
}

.btn-outline-primary {
    color: #46962b;
    border-color: #46962b;
}

.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover {
    background-color: #346e20 !important;
    border-color: #346e20 !important;
}

/* bootstrap over clean-blog */
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.btn-jumbo {
    padding: 4rem 2rem;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    opacity: 0.66;
}

@media (hover: hover) {
    /* fix hover reset on touch devices */
    #scrollTopBtn:hover {
        opacity: 1;
    }
}

.jumbotron-sm {
    padding: 1rem 1rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: white;
    background-color: #46962b;
    border-color: #46962b !important;
}

.nav-pills .nav-link.active:active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
    background-color: #346e20 !important;
}

.dropdown-item:hover {
    color: #e6007e;
    background-color: transparent;
}

a {
    color: #46962b;
}

a:active,
a:focus,
a:hover {
    color: #e6007e;
    text-decoration: none;
}

p a {
    text-decoration: none;
}

.preline {
    white-space: pre-line;
}

.form-signin .form-control:focus {
    position: relative;
    z-index: 2;
}

.rounded-bottom-0 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.rounded-top-0 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*
 * Formio displays an icon in the submit button after form submission.
 * However, the font is no longer supported by Bootstrap 4.
 * Disable it.
 */
.submit-fail::after {
    content: "" !important;
}

.help-block {
    font-size: 16px;
}

.formio-button-remove-row {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: white;
    background-color: #46962b;
    border-color: #46962b;
}

.formio-button-remove-row:hover {
    background-color: #346e20;
    border-color: #346e20;
}

.formio-button-add-row {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: white;
    background-color: #46962b;
    border-color: #46962b;
}

.formio-button-add-row:hover {
    background-color: #346e20;
    border-color: #346e20;
}

.shariff ul {
    justify-content: center;
}

#map {
    width:100%;
    height: 500px;
}